@import 'partials/fonts';
@import 'partials/var';

.ct {
	text-align: center;
}

.bold {
	font-family: $serifBold;
}

body {
	font-family: $sans;
	padding: 0;
	margin: 0;
	color: #fff;
	a {
		color: $blue;
	}
}

a:hover {
	color: #7BC0FF;
	text-decoration: none;
}

input {
	color: $darkGrey;
}



.below-fold {
	margin: 0 auto;
	max-width: 1280px;
}

.btn-main {
	background: $blue;
	padding: 0 2.5rem;
	height: 40px;
}


.row {
	min-width: 100%;
	color: #fff;
	margin-left: 0;
	margin-right: 0;
}

.nav { 
	background: #fff; 
	padding: .5rem 2rem;
  border-bottom: 1px solid #ccc;
}

.hero-banner-wrapper {
	position: relative
}

.hero { 
	height: 75vh;
	max-width: 125px;
	h1 {
		padding-top: 15vh;
		font-size: 4em;
    text-shadow: 0 0 4px #666;
	} .hero-wrapper {
		padding-top: 1.25rem;
	}
}


.hero-wrapper .btn {
	padding: 12px 24px 10px;
	border-radius: 0;
	font-size: 1.25em;
	border: 1px solid #fff;
	color: #fff;
  background-color: rgba(0,0,0,.5);
  &:hover{
  	background-color: rgba(0,116,228,.50);
  }
}

.hero-wrapper .btn-active {
	background-color: rgba(0,116,228,.75);
	margin-bottom: 2rem;
	&:after {
		content: '';
    border-radius: 0!important;
    bottom: -2rem;
    background: 0 0!important;
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 10px 10px;
    display: inline-block;
    margin-bottom: -1px;
    margin-left: -5px;
    top: auto;
    position: absolute;
    left: 48%;
	}
}

.form-wrapper {
	position: relative;
}

.form-wrapper input {
	border-radius: 5px;
	padding: 19px;
	font-size: 1.25em;
	border: none;
}


.banner {
	background-color: rgba(24,52,93,.85);
	padding: .6667rem, 2rem;
	position: absolute;
	min-height: 60px;
  bottom: 0;
	width: 100%;
}
.banner-wrapper {
	display: flex;
	justify-content: left;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	p {
		font-size: 1.8rem;
		margin-left: 1.4rem;
		margin-top: 1.8rem;
		flex: 1;
		// margin-left: 2rem;
	}
	img {
		margin-left: 2rem;
		margin-top: 4px;

	}
	button {
		margin-top: 5px;
		margin-right: 2rem;
		font-size: 1.5rem;
	}
}


.slides {
	h1 {
		padding: 40px 0 30px 0;
		color: $darkGrey;
	}
	.slide {

	}
	ul {
		padding: 0;
	} 
	li {
		list-style-type: none;
		padding: 8px;
	}
	background: #fff; 
	padding: 0;
	max-width: 125px;
	img {
		max-width: 100%;
		overflow: hidden;
		border: 1px solid #f9f9f9;
	} 
	.img-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	} 
	.img-wrapper .img-after {
		position: absolute;
		display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
    background: rgba(0, 0, 0, .25);
	} 
	i {
		position: absolute;
		top: 20px;
		right: 25px;
		z-index: 2;
		font-size: 1.75em;
    text-shadow: 1px 1px 1px #000;
	}
	span {
		font-family: $display;
		position: absolute;
		font-size: 4rem;
		bottom: 44px;
		left: 20px;
    text-shadow: 1px 2px 4px #000;
	}
	&.row {
		padding: 0 20px;
	}
}


.resources {
	background: #fff; 
	padding: 0 20px 60px 20px;
	margin-bottom: 60px;
	color: $darkGrey;
	h2 {
		padding: 40px 0 30px;
		text-align: center;
	}	h3 {
		color: #fff;
	} p {
		line-height: 1.4;
	}
}

.resource {
	width: 100%;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	text-align: left;
}
.resource-banner {
	color: #fff;
	position: absolute;
	bottom: 0px;
	text-align: center;
	background-color: $blue;
}
.img-wrapper {
	position: relative;
	width: 100%;
	height: auto;
}
.img-wrapper .img-after {
	position: absolute;
	display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  color: #000;
	background: rgba(116,192,5,.75);
}
.img-after h3 {
	margin: 0 auto;
	padding-top: 15px;
	position: static;
	font-family: $sansBold;
}
.caption {
	padding: 20px;
	p {
		margin-bottom: 35px;
		font-size: 1.5rem;
	}
}




.reviews { 
	background: $blueish; 
	padding: 20px;
	max-width: 125px;
} 

.cta { 
	background: $bgLight; 
	padding: 20px;
	max-width: 125px;
	margin-top: 30px;
}


.footer { 
	background: $blueish; 
	padding: 20px;
	max-width: 125px;
  background: $darkGrey;
}
.footer-top {
  font-size: 13px;
  line-height: 1.5;
	font-family: $sansBold;
  text-transform: uppercase;
}
.footer-ul {
	display: flex;
	justify-content: space-around;
  li a {
	  color: #999;
  } li:hover a {
  	color: $blueBright;
  }
}
.footer-bottom {
	display: flex;
	justify-content: center;
}
.copyright {
	margin-right: 5rem;
	p {
		margin-top: .5rem;
	}
}
.social {
	display: flex;
	p {
		margin-right: 1.5rem;
		margin-top: .5rem;
	}
	i {
		margin: 0 1rem;
		font-size: 3rem;
		color: #999;
	}
	.fa-facebook-square:hover {
		color: #3B5998;
	}
	.fa-twitter-square:hover {
		color: #55ACEE;
	}
	.fa-google-plus-square:hover {
		color: #DD4B39;
	}
}






.logo img {
	width: 15rem;
		padding-top: 0.5rem;

}

.nav-li {
	list-style-type: none;
	padding-top: 1rem;
		font-size: 1.15em;
	a {
		color: $darkGrey;
		padding-right: 1em;
	}
	a:hover {
		color: $bluer;
		text-decoration: none;
	}
}


.nav-flex {
	display: flex;
}
.search {
	flex: 1;
	margin-left: 2rem;
	font-size: 1.15em;
	padding-top: 0.725rem;
	input {
		border-radius: 5px;
		width: 100%;
		padding-left: 6px;
	} button {
		position: absolute;
		background: $bluer;
		right: 1.95rem;
		top: 1.15rem;
		border: #eee;
		border-radius:5px;
	}
}

.nav-ul {
	display: flex;
}

span.btn-inner-wrapper {
	position: relative;
	margin: 0 100px
}

.btn-inside {
	position: absolute;
	height: 44px;
	border-radius: 5px;
	background: $blue;
	padding: 0 2.5rem;
	// right: 100px;
}

.form-below {
	// background: $blue;
	// padding: 100px;
} li {
	list-style-type: none;
	position: block;
}

